
<div style="margin-top: 100px;"> 
    <h1 class="heading" >Single product for everyone</h1>
 
    <img class="footer" src="assets/fin.png" alt="" style="margin-left:100px ;">
    <img class="footer" src="assets/coop.png" alt="" style="margin-left:250px ;">
    <img class="footer" src="assets/indi.png" alt=""style="margin-left:200px ;" >
    <div style="margin-top: 00px;">
      <img class="footer" src="assets/borr.png" alt="" style="margin-left:300px ;">
      <img class="footer" src="assets/shg.png" alt="" style="margin-left:200px ;">
    </div>
 </div>