






<div class="featureryt">

    <img class="mobile1" src="assets/mobile.png" >
   
    </div>

  <div class = "feathure">

  <div class = "row11" style = "background-color:rgb(255, 255, 255); color: white;">
    <div class = "f1" style = "background-color:rgb(156, 55, 238); color: white;">
      <h1 class="boxh">Easy to use</h1>
      <p>Simple user interface for easy management of all interest based loan accounts.
        </p>
    </div>
    
  </div>     
    <div class = "row11" style = "background-color:rgb(255, 255, 255); color: white;"><div class = "f1" style = "background-color:rgb(156, 55, 238); color: white;"><h1 class="boxh">Calculations simplified</h1>Most complex calculations for simple interest and compound interest are done breathlessly by our compound interest calculator and simple interest calculator.</div>
    
  </div>
    <div class = "row11" style = "background-color:rgb(255, 254, 254); color: white;">
     

      <div class = "f1" style = "background-color:rgb(156, 55, 238); color: white;"><h1 class="boxh"> Multiple Languages</h1>Currently the app supports Hindi, English, Gujarati, Tamil, Marathi & Hinglish.</div>

    </div>
    
  <div class="featurerlft">
    <img class="mobile1" src="assets/mobile.png" >
  </div>

    <div class = "rowryt" style = "background-color:rgb(255, 255, 255); color: white;">
         <div class = "f1" style = "background-color:rgb(156, 55, 238); color: white;"><h1 class="boxh">Payment Reminders</h1>Send payment reminders with whatsapp, sms or any other messaging app; to people you've lent money to, in just a click!</div>
         
         
    </div>     
    <div class = "rowryt" style = "background-color:rgb(255, 255, 255); color: white;">
      <div class = "f1" style = "background-color:rgb(156, 55, 238); color: white;"><h1 class="boxh">Offline mode</h1>View much of the details you’ve entered even when you are not connected to the internet.</div>
      
    </div>

    
    
    

    
 </div>

 


