.page3{
    
    
    text-align: center;
    top: 10px;
}
.page1{
    height: ;
}
.heading11{

    font-size: 100px;
    color:rgb(133, 45, 233);
    text-align:center;
    position: relative;
    top: 50px;
  
  }

  .heading{
    position: relative;
    top: 0%;
    height:330px ;
    background-color: rgb(255, 255, 255);
    
}

