
  
  <div class="row" style="background-color: rgb(255, 255, 255);">
    
      <div class="column" style="background-color:rgb(255, 255, 255);">
        <h2 class="sideh">Business koi bhi<br> ByajBook sahi hai</h2>
         <img src="assets/milkmen121.png" alt="">
         <img src="assets/milkmenmm.png" alt="" style="height: 220px; ">
      </div>
      <div class="column" style="background-color:rgb(255, 255, 255);">
          
        <h1 style="color:rgb(133, 45, 233) ;">Any category of shop, small business or individual can use ByajBook to manage their lendings or debts:</h1>
        <img src="assets/aa.png" alt="" style="height: 300px; ;">
      </div>
      <div class="column" style="background-color:rgb(255, 255, 255);" [align]="">
        <h2 class="sideh">ByajBook Asan hai</h2>
        <img src="assets/shop.jpg" alt="" style="height: 300px; " width="400 px">
      </div>
    </div>