


<div class="row" style="height: 650px; ;">
    <div class="column" style="background-color:rgba(127, 7, 255, 0.85);">
      
      <img src="assets/shopkee.png" alt="">
    </div>
    <div class="column" style="background-color:rgba(127, 7, 255, 0.85);">
      <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="animate-charcter" > Hisab<br> kitab 
               ,<br> ab hua<br> saral</h3>
            </div>
          </div>
        </div>
       <img class="holdm" src="assets/holdbyajbookkK.png" alt="" style="padding: 150px;" >
  
     
    </div>
    <div class="column" style="background-color:rgba(127, 7, 255, 0.85);">
      <img src="assets/shopkeeper.png" alt="" height="500px">
    
    </div>
  </div>